In [1]:
# Data cleaning
# EDA
# Text preprocessing
# Model building
# Evaluation
# Improvement
# Website 
# Depoly

In [32]:
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('movies.csv')
df1 = pd.read_csv('credits.csv')

In [34]:
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [35]:
df1.head(1)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [36]:
df1.columns = ['id', 'title', 'cast', 'crew']
df1= df1.merge(df,on='id')

In [37]:
df1.head(1)

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [38]:
df1.to_csv('data_movies.csv', index=False)

In [55]:
df2 = pd.read_csv('data_movies.csv')

In [51]:
df2.head(1)

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [52]:
df2['original_language'].value_counts()

original_language
en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ko      11
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
id       2
cs       2
ta       2
ro       2
ar       2
te       1
hu       1
xx       1
af       1
is       1
tr       1
vi       1
pl       1
nb       1
ky       1
no       1
sl       1
ps       1
el       1
Name: count, dtype: int64

In [56]:
df2.drop(columns=['budget','homepage','original_language','production_countries','popularity','production_companies','revenue','runtime','spoken_languages','status','tagline','title_y','title_x'], inplace=True) # drop unnecessary columns

In [43]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              4803 non-null   int64
 1   title_x         4803 non-null   object
 2   cast            4803 non-null   object
 3   crew            4803 non-null   object
 4   genres          4803 non-null   object
 5   keywords        4803 non-null   object
 6   original_title  4803 non-null   object
 7   overview        4800 non-null   object
 8   release_date    4802 non-null   object
 9   vote_average    4803 non-null   float64
 10  vote_count      4803 non-null   int64
dtypes: float64(1), int64(2), object(8)
memory usage: 412.9+ KB

In [44]:
df2.duplicated().sum() ## no duplicate find

np.int64(0)

In [68]:
#A Weighted Rating (WR) is a technique often used in recommendation systems to balance user ratings with popularity. A common formula for calculating WR is based on the Bayesian average and accounts for the number of votes a movie has received and its average rating.
#Formula for Weighted Rating (IMDB-style):
#
#   Weighted Rating (WR) = (v/(v+m)) * R + (m/(v+m)) * C

#Where:

#    R: Average rating for the movie.
#    v: Number of votes for the movie.
 #   m: Minimum number of votes required to be listed in the chart (threshold).
  #  C: Mean of all average ratings in the dataset

## By chatgpt data
def weighted_rating(x, m, C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [57]:
df2.head(5)

,id,cast,crew,genres,keywords,original_title,overview,release_date,vote_average,vote_count
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800
1,285,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",2007-05-19,6.9,4500
2,206647,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",Spectre,A cryptic message from Bondâ€™s past sends him o...,2015-10-26,6.3,4466
3,49026,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",The Dark Knight Rises,Following the death of District Attorney Harve...,2012-07-16,7.6,9106
4,49529,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",John Carter,"John Carter is a war-weary, former military ca...",2012-03-07,6.1,2124

In [58]:
df2.describe()

                  id  vote_average    vote_count
count    4803.000000   4803.000000   4803.000000
mean    57165.484281      6.092172    690.217989
std     88694.614033      1.194612   1234.585891
min         5.000000      0.000000      0.000000
25%      9014.500000      5.600000     54.000000
50%     14629.000000      6.200000    235.000000
75%     58610.500000      6.800000    737.000000
max    459488.000000     10.000000  13752.000000

In [65]:
m= df2['vote_count'].quantile(0.9)
c= df2['vote_average'].mean()
print(m, c)

1838.4000000000015 6.092171559442016

In [66]:
filter_movies = df2.copy().loc[df2['vote_count'] >= m]
filter_movies.shape

(481, 10)

In [72]:
filter_movies['score'] = filter_movies.apply(lambda x: weighted_rating(x, m=m, C=c), axis=1)

In [74]:
filter_movies.head(1)

,id,cast,crew,genres,keywords,original_title,overview,release_date,vote_average,vote_count,score
0,19995,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",Avatar,"In the 22nd century, a paraplegic Marine is di...",2009-12-10,7.2,11800,7.050669

In [79]:
filter_movies['score'].notnull().sum()

np.int64(481)